<?php echo '<?xml version="1.0" standalone="yes"?>'; ?>
<config>
    <source url="http://phpsvnclient.googlecode.com/svn/">
        <directory remote="trunk" local="<?php $_SERVER['DOCUMENT_ROOT']; ?>/phpsvnclient" />
    </source>
    <source url="http://kuva.googlecode.com/svn/">
        <directory remote="trunk/core" local="/tmp/kuva" />
        <directory remote="trunk/modules/phpsvnclient" local="/tmp/kuva/modules/phpsvnclient" />
    </source>
</config>
